<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.morishin.alfred-workflow.kintai-slack</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0B660E61-70F0-4135-80BA-67E4B637F740</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B536002F-C375-4F84-99DF-6C879F960F71</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3C493B45-E164-4A31-B759-8B675F34ED97</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B660E61-70F0-4135-80BA-67E4B637F740</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>71BAE10D-4670-47F4-9F80-D54BD38399F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B536002F-C375-4F84-99DF-6C879F960F71</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7AAA1F69-F995-4BEF-8DAF-42FE04D4DF51</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AD3D45BE-6927-4FA8-85AF-5144E7E3F9AB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>887A5B23-A6E8-47FC-BCF4-09569787C41A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D46A950C-1FC0-4E16-BAF6-0D83F2F3B0B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD3D45BE-6927-4FA8-85AF-5144E7E3F9AB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B536002F-C375-4F84-99DF-6C879F960F71</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B536002F-C375-4F84-99DF-6C879F960F71</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7790DAD1-AD8F-45A9-B7D2-711C03A8ACCD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D46A950C-1FC0-4E16-BAF6-0D83F2F3B0B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B536002F-C375-4F84-99DF-6C879F960F71</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D8740154-4DF1-4024-8AE7-F847F6B0CF51</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>71BAE10D-4670-47F4-9F80-D54BD38399F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>morishin</string>
	<key>description</key>
	<string>勤怠に関する報告を Slack にポストするワークフローです</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>論理出社</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7790DAD1-AD8F-45A9-B7D2-711C03A8ACCD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if [ -z $SLACK_TOKEN ] || [ -z $SLACK_CHANNEL ]; then
	echo '❌ $SLACK_TOKEN and $SLACK_CHANNEL are required.'
fi
res=$(curl -s -XPOST -d "token=$SLACK_TOKEN" -d "channel=$SLACK_CHANNEL" -d "text={query}" -d 'as_user=true' 'https://slack.com/api/chat.postMessage')
if echo $res | grep -q '"ok":true'; then
    echo "✅ Succeeded in posting {query}";
else
    echo "❌ Failed to post {query}";
    echo $res &gt;&amp;2
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B536002F-C375-4F84-99DF-6C879F960F71</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ronri_shussha</string>
				<key>subtext</key>
				<string>ronri_shussha</string>
				<key>text</key>
				<string>論理出社</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>887A5B23-A6E8-47FC-BCF4-09569787C41A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>:ronri_shussha:</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D46A950C-1FC0-4E16-BAF6-0D83F2F3B0B7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ronri_taisha</string>
				<key>subtext</key>
				<string>ronri_taisha</string>
				<key>text</key>
				<string>論理退社</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3C493B45-E164-4A31-B759-8B675F34ED97</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>:ronri_taisha:</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0B660E61-70F0-4135-80BA-67E4B637F740</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ronri_kyukei</string>
				<key>subtext</key>
				<string>ronri_kyukei</string>
				<key>text</key>
				<string>論理休憩</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7AAA1F69-F995-4BEF-8DAF-42FE04D4DF51</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>:ronrikyukei:</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>AD3D45BE-6927-4FA8-85AF-5144E7E3F9AB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ronri_saikai</string>
				<key>subtext</key>
				<string>ronri_saikai</string>
				<key>text</key>
				<string>論理再開</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D8740154-4DF1-4024-8AE7-F847F6B0CF51</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>:ronrisaikai:</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>71BAE10D-4670-47F4-9F80-D54BD38399F6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0B660E61-70F0-4135-80BA-67E4B637F740</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>3C493B45-E164-4A31-B759-8B675F34ED97</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>71BAE10D-4670-47F4-9F80-D54BD38399F6</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>7790DAD1-AD8F-45A9-B7D2-711C03A8ACCD</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>7AAA1F69-F995-4BEF-8DAF-42FE04D4DF51</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>887A5B23-A6E8-47FC-BCF4-09569787C41A</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>AD3D45BE-6927-4FA8-85AF-5144E7E3F9AB</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>B536002F-C375-4F84-99DF-6C879F960F71</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>D46A950C-1FC0-4E16-BAF6-0D83F2F3B0B7</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>D8740154-4DF1-4024-8AE7-F847F6B0CF51</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>SLACK_CHANNEL</key>
		<string></string>
		<key>SLACK_TOKEN</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>SLACK_CHANNEL</string>
		<string>SLACK_TOKEN</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://github.com/morishin/alfred-kintai-slack-workflow</string>
</dict>
</plist>
